Schema/example52.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Employee">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="NameE" type="xs:string" />
                <xs:element name="PW" type="xs:string" />
                <xs:element name="Salary" type="xs:string" />
                <xs:element name="Title" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>